<h1>Shelters</h1>

<%= form_tag shelters_path, method: :get, class: "form-inline my-2 my-lg-2" do %>
  <%= text_field_tag(
      :search,
      params[:search],
      placeholder: "Search",
      class: "form-control mr-sm-2"
  ) %>
  <%= button_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>
<br>
<ul>
  <% @shelters.each do |shelter| %>
  <li><%= link_to shelter.name, shelter_path(shelter) %></li>
  <% end %>
</ul>
