<h1>Register Yourself meow~</h1>

  <% @user.errors.any? do %>
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <div class="notice bg-warning"><ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul></div>
  <% end %>


<%= render "form" %>
