<div class="container col-md-10">

  <h1>About Us</h1>
  <div class="alert alert-dark col-md-6">
    <ul>
      <li>"Approximately 6.5 million companion animals enter U.S. animal shelters nationwide anually.</li>
      <li>Approximately 1.5 million shelter animals are euthanized (670,000 dogs and 860,000 cats) anually.</li>
      <li>Approximately 3.2 million shelter animals are adopted each year (1.6 million dogs and 1.6 million cats).</li>
      -- ASPCA
    </ul>
  </div>

  <div class="text-success">
    <br><br>
    <h3>
      This project is intented to facilitate the adoption of shelter animals.
    </h3>
    <h3>
      Currently we are able to manually enter in shelters and pets, as well as allow users to log in.
      The plan is to add an api to automate seeding of pets looking for their furrever home.
    </h3>
  </div>


</div>
